
.navbarh1{
    background-color: teal;
    color: white;
}
.jumbotron {
    width: 960px;
    background: url(../Images/email-pattern.png)
}
.display-10 {
    color: teal;
}





.bioPic {
    height: 450px;
}

.lead {

}

.footer {
background-color: grey;
color: white;
}