body{
    background: url(../Images/email-pattern.png);
    width: auto;
    height: auto;
    padding-bottom: 0;
}

.navbar {
    padding: 0;
}

.navbarh1{
    background-color: teal;
    color: white;
    margin-bottom: 0;
    margin-left: 4em;
    font-family: Georgia, 'Times New Roman', Times, serif
}

ul{
    margin-left: 380px;
}

li{
    border-left: 2px solid grey;
    padding-left: 10px;
}

.jumbotron {
    width: 960px;
    height: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 30px;
}

.display-10 {
    color: teal;
    margin-bottom: 0;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.bioPic {
    height: 300px;
    margin: 0;
    float: left;
}

p{
    color:gray;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif
}

.headerRow1 {
    background-color: teal;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center; 
    
}

.row{
    margin: 5px;
}

.row-last{
    margin: 5px;
    margin-left: 50px;
}


footer {
    background-color: gray;
    color: white;
    text-align: center;
    border-top: 15px solid teal;
    clear: both;
    height: 50px;
    margin-top: 60px;
    width:100%;
}